Repository hTuneSys/hexaFn, changes with the labels that .github/labeler.yml gives for each.
All labels: module:bridge, module:cast, module:run, module:store, module:trigger, module:watch, module:core, module:docs, module:cli, type:doc, type:ci, type:test, type:infra, default:unclassified

.github/labeler.yml:

# SPDX-FileCopyrightText: 2025 Husamettin ARABACI
# SPDX-License-Identifier: MIT

# ────────────────────────────────────────────────────────────────────────────────
# MODULE LABELS
# ────────────────────────────────────────────────────────────────────────────────

module:bridge:
  - changed-files:
      - any-glob-to-any-file: ['crates/hexafn-bridge/**']

module:cast:
  - changed-files:
      - any-glob-to-any-file: ['crates/hexafn-cast/**']

module:run:
  - changed-files:
      - any-glob-to-any-file: ['crates/hexafn-run/**']

module:store:
  - changed-files:
      - any-glob-to-any-file: ['crates/hexafn-store/**']

module:trigger:
  - changed-files:
      - any-glob-to-any-file: ['crates/hexafn-trigger/**']

module:watch:
  - changed-files:
      - any-glob-to-any-file: ['crates/hexafn-watch/**']

module:core:
  - changed-files:
      - any-glob-to-any-file: ['crates/hexafn-core/**']

module:docs:
  - changed-files:
      - any-glob-to-any-file: ['docs/**', 'examples/**', '**/README.md']

module:cli:
  - changed-files:
      - any-glob-to-any-file: ['scripts/**']

# ────────────────────────────────────────────────────────────────────────────────
# TYPE LABELS
# ────────────────────────────────────────────────────────────────────────────────

type:doc:
  - changed-files:
      - any-glob-to-any-file: ['docs/**','LICENSE','LICENSES/**','CHANGELOG.md','**/README.md']

type:ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/**','.gitignore','package.json']

type:test:
  - changed-files:
      - any-glob-to-any-file: 
        - 'integration-tests/**'
        - 'benchmarks/**' 
        - '**/tests/**'
        - '**/*_test.rs'
        - '**/test_*.rs'

type:infra:
  - changed-files:
      - any-glob-to-any-file:
          - 'crates/**/Cargo.toml'
          - 'Cargo.toml'
          - 'Cargo.lock'
          - '.releaserc.yml'
          - 'REUSE.toml'

# ────────────────────────────────────────────────────────────────────────────────
# DEFAULT LABEL
# ────────────────────────────────────────────────────────────────────────────────

default:unclassified:
  - changed-files:
      - any-glob-to-any-file: ['*']

FIX PROJECT STRUCTURE
  docs/HEXAGONAL_ARCHITECTURE_GUIDE.md
Labels: module:docs, type:doc

docs: add project logo to README header section
  README.md
  crates/hexafn-run/src/application/mod.rs
  docs/BRANCH_STRATEGY.md
  docs/CONTACT.md
  docs/SUMMARY.md
  hexaFn.code-workspace
Labels: module:run, module:docs, type:doc, default:unclassified

docs: add project logo to README header section (#657)
  README.md
  crates/hexafn-run/src/application/mod.rs
  docs/BRANCH_STRATEGY.md
  docs/CONTACT.md
  docs/SUMMARY.md
  hexaFn.code-workspace
Labels: module:run, module:docs, type:doc, default:unclassified

docs: add hexaFn logo assets and update branding guidelines
  docs/BRANDING.md
  docs/assets/favicon.ico
  docs/assets/hexaFn-icon.png
  docs/assets/hexaFn-logo.png
Labels: module:docs, type:doc

docs: add hexaFn logo assets and update branding guidelines (#658)
  docs/BRANDING.md
  docs/assets/favicon.ico
  docs/assets/hexaFn-icon.png
  docs/assets/hexaFn-logo.png
Labels: module:docs, type:doc

ADD COPILOT INST
  .github/copilot-instructions.md
Labels: type:ci

docs: enhance README with comprehensive structure and visual appeal
  .gitignore
  README.md
  REUSE.toml
  crates/hexafn-run/src/application/mod.rs
Labels: module:run, module:docs, type:doc, type:ci, type:infra, default:unclassified

docs: enhance README with comprehensive structure and visual appeal (#659)
  .gitignore
  README.md
  REUSE.toml
  crates/hexafn-run/src/application/mod.rs
Labels: module:run, module:docs, type:doc, type:ci, type:infra, default:unclassified

Delete hexaFn.code-workspace
  hexaFn.code-workspace
Labels: default:unclassified

Delete hexaFn.code-workspace (#660)
  hexaFn.code-workspace
Labels: default:unclassified

FIX CI
  .github/workflows/ci.yml
  .github/workflows/reuse-lint.yml
Labels: type:ci

FIX COPILOT
  .github/copilot-instructions.md
Labels: type:ci

FIX COPILOT
  .github/copilot-instructions.md
Labels: type:ci

ADD TODO LIST
  docs/TODO_LIST.md
Labels: module:docs, type:doc

FIX TODO
  README.md
  crates/hexafn-core/src/errors/mod.rs
  crates/hexafn-core/src/errors/pipeline_error.rs
  crates/hexafn-core/src/lib.rs
  crates/hexafn-core/src/phases/context.rs
  crates/hexafn-core/src/phases/lifecycle.rs
  crates/hexafn-core/src/phases/mod.rs
  crates/hexafn-core/src/phases/result.rs
  crates/hexafn-core/src/pipeline/builder.rs
  crates/hexafn-core/src/pipeline/traits.rs
  crates/hexafn-core/src/types/identifiers.rs
  crates/hexafn-core/src/types/mod.rs
  crates/hexafn-trigger/src/application/ports/inbound.rs
  crates/hexafn-trigger/src/application/ports/outbound.rs
  crates/hexafn-trigger/src/application/services/trigger_service.rs
  crates/hexafn-trigger/src/domain/entities.rs
  crates/hexafn-trigger/src/domain/events.rs
  crates/hexafn-trigger/src/domain/services.rs
  crates/hexafn-trigger/src/domain/value_objects.rs
  crates/hexafn-trigger/src/domain/value_objects/mod.rs
  crates/hexafn-trigger/src/domain/value_objects/trigger_condition.rs
  crates/hexafn-trigger/src/domain/value_objects/trigger_config.rs
  crates/hexafn-trigger/src/domain/value_objects/trigger_id.rs
  crates/hexafn-trigger/src/domain/value_objects/trigger_name.rs
  crates/hexafn-trigger/src/domain/value_objects/trigger_state.rs
  crates/hexafn-trigger/src/infrastructure/external/in_memory_cache.rs
  crates/hexafn-trigger/src/infrastructure/external/in_memory_configuration_provider.rs
  crates/hexafn-trigger/src/infrastructure/external/in_memory_lock_manager.rs
  crates/hexafn-trigger/src/infrastructure/messaging/in_memory_event_publisher.rs
  crates/hexafn-trigger/src/infrastructure/persistence/in_memory_stats_repository.rs
  crates/hexafn-trigger/src/infrastructure/persistence/in_memory_trigger_repository.rs
  crates/hexafn-trigger/tests/integration_tests.rs
  docs/TODO_LIST.md
Labels: module:trigger, module:core, module:docs, type:doc, type:test, default:unclassified

FIX TODO
  TODO_LIST.md
  crates/hexafn-bridge/src/lib.rs
  crates/hexafn-cast/src/lib.rs
  crates/hexafn-run/src/lib.rs
  crates/hexafn-store/src/lib.rs
  crates/hexafn-trigger/src/lib.rs
  crates/hexafn-watch/src/lib.rs
  docs/TODO_LIST.md
Labels: module:bridge, module:cast, module:run, module:store, module:trigger, module:watch, module:docs, type:doc, default:unclassified

FIX TODO (#661)
  .github/copilot-instructions.md
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  TODO_LIST.md
  crates/hexafn-core/Cargo.toml
  crates/hexafn-core/src/application/services/mod.rs
  crates/hexafn-core/src/domain/contracts/mod.rs
  crates/hexafn-core/src/domain/entities/mod.rs
  crates/hexafn-core/src/domain/events/mod.rs
  crates/hexafn-core/src/domain/services/mod.rs
  crates/hexafn-core/src/domain/value_objects/mod.rs
  crates/hexafn-core/src/errors/mod.rs
  crates/hexafn-core/src/events/mod.rs
  crates/hexafn-core/src/infrastructure/error_handling/mod.rs
  crates/hexafn-core/src/infrastructure/serialization/mod.rs
  crates/hexafn-core/src/infrastructure/telemetry/mod.rs
  crates/hexafn-core/src/phases/mod.rs
  crates/hexafn-core/src/pipeline/mod.rs
  crates/hexafn-core/src/types/mod.rs
  crates/hexafn-trigger/Cargo.toml
  crates/hexafn-trigger/src/application/ports/inbound.rs
  crates/hexafn-trigger/src/application/ports/outbound.rs
  crates/hexafn-trigger/src/application/services/trigger_service.rs
  crates/hexafn-trigger/src/domain/entities.rs
  crates/hexafn-trigger/src/domain/events.rs
  crates/hexafn-trigger/src/domain/services.rs
  crates/hexafn-trigger/src/domain/value_objects.rs
  crates/hexafn-trigger/src/infrastructure/external/in_memory_cache.rs
  crates/hexafn-trigger/src/infrastructure/external/in_memory_configuration_provider.rs
  crates/hexafn-trigger/src/infrastructure/external/in_memory_lock_manager.rs
  crates/hexafn-trigger/src/infrastructure/messaging/in_memory_event_publisher.rs
  crates/hexafn-trigger/src/infrastructure/persistence/in_memory_stats_repository.rs
  crates/hexafn-trigger/src/infrastructure/persistence/in_memory_trigger_repository.rs
  crates/hexafn-trigger/tests/integration_tests.rs
  docs/TODO_LIST.md
Labels: module:trigger, module:core, module:docs, type:doc, type:ci, type:test, type:infra, default:unclassified

FIX TODO
  TODO_LIST.md
  crates/hexafn-trigger/src/application/ports/inbound.rs
  crates/hexafn-trigger/src/application/ports/outbound.rs
  crates/hexafn-trigger/src/application/services/trigger_service.rs
  crates/hexafn-trigger/src/domain/entities.rs
  crates/hexafn-trigger/src/domain/events.rs
  crates/hexafn-trigger/src/domain/services.rs
  crates/hexafn-trigger/src/domain/value_objects.rs
  crates/hexafn-trigger/src/infrastructure/external/in_memory_cache.rs
  crates/hexafn-trigger/src/infrastructure/external/in_memory_configuration_provider.rs
  crates/hexafn-trigger/src/infrastructure/external/in_memory_lock_manager.rs
  crates/hexafn-trigger/src/infrastructure/messaging/in_memory_event_publisher.rs
  crates/hexafn-trigger/src/infrastructure/persistence/in_memory_stats_repository.rs
  crates/hexafn-trigger/src/infrastructure/persistence/in_memory_trigger_repository.rs
  crates/hexafn-trigger/tests/integration_tests.rs
  docs/TODO_LIST.md
Labels: module:trigger, module:docs, type:doc, type:test, default:unclassified

ADD DATA FLOW
  .github/copilot-instructions.md
  docs/DATA_FLOW_DETAIL_EXAMPLE.md
  docs/DATA_FLOW_EXAMPLE.md
  docs/DEVELOPMENT_GUIDE.md
  docs/RUST_PORTS_ADAPTERS_EXAMPLE.md
Labels: module:docs, type:doc, type:ci

ADD DATA FLOW
  docs/DEVELOPMENT_GUIDE.md
Labels: module:docs, type:doc

FIX COPILOT
  .github/copilot-instructions.md
  .gitignore
  crates/hexafn-trigger/Cargo.toml
Labels: module:trigger, type:ci, type:infra, default:unclassified

FIX README
  .github/ISSUE_TEMPLATE/config.yml
  .github/copilot-instructions.md
  .github/dependabot.yml
  README.md
Labels: module:docs, type:doc, type:ci, default:unclassified

FIX COPILOT
  .github/copilot-instructions.md
  README.md
Labels: module:docs, type:doc, type:ci, default:unclassified

FIX COPILOT
  .github/copilot-instructions.md
Labels: type:ci

FIX COPILOT
  .github/copilot-instructions.md
Labels: type:ci

feat: initialize project structure and base modules
  README.md
  crates/hexafn-bridge/src/domain/contracts/integration.rs
  crates/hexafn-bridge/src/domain/contracts/mod.rs
  crates/hexafn-cast/src/domain/contracts/mod.rs
  crates/hexafn-cast/src/domain/contracts/topic.rs
  crates/hexafn-run/src/domain/contracts/mod.rs
  crates/hexafn-store/src/domain/contracts/kv_store.rs
  crates/hexafn-store/src/domain/contracts/mod.rs
  crates/hexafn-watch/src/domain/contracts/mod.rs
  crates/hexafn-watch/src/domain/contracts/trace.rs
  docs/ARCHITECTURE.md
  docs/COMMUNITY.md
  docs/CONTACT.md
  docs/DATA_FLOW.md
  docs/DATA_FLOW_DETAIL.md
  docs/DATA_MODEL_BRIDGE.md
  docs/DATA_MODEL_CAST.md
  docs/DATA_MODEL_CORE.md
  docs/DATA_MODEL_RUN.md
  docs/DATA_MODEL_STORE.md
  docs/DATA_MODEL_TRIGGER.md
  docs/DATA_MODEL_WATCH.md
  docs/DEVELOPMENT_GUIDE.md
  docs/FAQ.md
  docs/GETTING_STARTED.md
  docs/PROJECT_BOARD.md
  docs/RUST_PORTS_ADAPTERS_EXAMPLE.md
  docs/SUMMARY.md
  docs/TODO_LIST.md
Labels: module:bridge, module:cast, module:run, module:store, module:watch, module:docs, type:doc, default:unclassified

feat: initialize project structure and base modules (#665)
  README.md
  crates/hexafn-bridge/src/domain/contracts/integration.rs
  crates/hexafn-bridge/src/domain/contracts/mod.rs
  crates/hexafn-cast/src/domain/contracts/mod.rs
  crates/hexafn-cast/src/domain/contracts/topic.rs
  crates/hexafn-run/src/domain/contracts/mod.rs
  crates/hexafn-store/src/domain/contracts/kv_store.rs
  crates/hexafn-store/src/domain/contracts/mod.rs
  crates/hexafn-watch/src/domain/contracts/mod.rs
  crates/hexafn-watch/src/domain/contracts/trace.rs
  docs/ARCHITECTURE.md
  docs/COMMUNITY.md
  docs/CONTACT.md
  docs/DATA_FLOW.md
  docs/DATA_FLOW_DETAIL.md
  docs/DATA_MODEL_BRIDGE.md
  docs/DATA_MODEL_CAST.md
  docs/DATA_MODEL_CORE.md
  docs/DATA_MODEL_RUN.md
  docs/DATA_MODEL_STORE.md
  docs/DATA_MODEL_TRIGGER.md
  docs/DATA_MODEL_WATCH.md
  docs/DEVELOPMENT_GUIDE.md
  docs/FAQ.md
  docs/GETTING_STARTED.md
  docs/PROJECT_BOARD.md
  docs/RUST_PORTS_ADAPTERS_EXAMPLE.md
  docs/SUMMARY.md
  docs/TODO_LIST.md
Labels: module:bridge, module:cast, module:run, module:store, module:watch, module:docs, type:doc, default:unclassified

docs: refactor copilot instructions structure and improve clarity
  .github/.commitlintrc.yml
  .github/copilot-instructions.md
  crates/hexafn-core/src/domain/contracts/domain_event.rs
  crates/hexafn-core/src/domain/contracts/event.rs
  crates/hexafn-core/src/domain/contracts/mod.rs
  crates/hexafn-core/src/domain/contracts/pipeline.rs
  crates/hexafn-core/src/lib.rs
  crates/hexafn-trigger/src/domain/contracts/mod.rs
  crates/hexafn-trigger/src/domain/contracts/trigger.rs
  crates/hexafn-trigger/src/domain/contracts/trigger_evaluator.rs
  crates/hexafn-trigger/src/lib.rs
  docs/index.html
Labels: module:trigger, module:core, module:docs, type:doc, type:ci

docs: refactor copilot instructions structure and improve clarity (#666)
  .github/.commitlintrc.yml
  .github/copilot-instructions.md
  crates/hexafn-core/src/domain/contracts/domain_event.rs
  crates/hexafn-core/src/domain/contracts/event.rs
  crates/hexafn-core/src/domain/contracts/mod.rs
  crates/hexafn-core/src/domain/contracts/pipeline.rs
  crates/hexafn-core/src/lib.rs
  crates/hexafn-trigger/src/domain/contracts/mod.rs
  crates/hexafn-trigger/src/domain/contracts/trigger.rs
  crates/hexafn-trigger/src/domain/contracts/trigger_evaluator.rs
  crates/hexafn-trigger/src/lib.rs
  docs/index.html
Labels: module:trigger, module:core, module:docs, type:doc, type:ci
