Repository hTuneSys/hexaFn, changes with the labels that .github/labeler.yml gives for each.
All labels: module:store, module:cast, module:run, module:trigger, module:watch, module:bridge, type:feature, type:bug, type:docs, type:ci, type:infra, default:unclassified

Update and rename labeler_pr.yml to labeler.yml
  .github/workflows/labeler.yml
Labels: type:ci

test(core): verify branch naming rule
  test.rs
Labels: default:unclassified

test(core): verify branch naming rule (#47)
  test.rs
Labels: default:unclassified

test(core): trigger invalid branch name check
  test.rs
Labels: default:unclassified

feat(core): test valid commit format
  test.rs
Labels: default:unclassified

new stuff added
  test.rs
Labels: default:unclassified

feat(watch): add monitoring interval config
  test.rs
Labels: default:unclassified

Add new logic to monitor nodes
  test.rs
Labels: default:unclassified

test(test): test
  README.md
Labels: default:unclassified

Create main-pr-protect.yml
  .github/workflows/main-pr-protect.yml
Labels: type:ci

Create release-pr-protect.yml
  .github/workflows/release-pr-protect.yml
Labels: type:ci

Update main-pr-protect.yml
  .github/workflows/main-pr-protect.yml
Labels: type:ci

release: prepare v0.1.0
  test.rs
Labels: default:unclassified

test(core): verify branch naming rule
  test.rs
Labels: default:unclassified

test(core): verify branch naming rule (#57)
  test.rs
Labels: default:unclassified

test(test): test5
  .github/config.yml
Labels: none

test(core): verify branch naming rule
  test.rs
Labels: default:unclassified

test(core): verify branch naming rule (#60)
  test.rs
Labels: default:unclassified

.github/labeler.yml:

# SPDX-FileCopyrightText: 2025 Hüsamettin Arabacı
# SPDX-License-Identifier: MIT

module:store:
  - changed-files:
      - any-glob-to-any-file: ['src/store/**']

module:cast:
  - changed-files:
      - any-glob-to-any-file: ['src/cast/**']

module:run:
  - changed-files:
      - any-glob-to-any-file: ['src/run/**']

module:trigger:
  - changed-files:
      - any-glob-to-any-file: ['src/trigger/**']

module:watch:
  - changed-files:
      - any-glob-to-any-file: ['src/watch/**']

module:bridge:
  - changed-files:
      - any-glob-to-any-file: ['src/bridge/**']

type:feature:
  - changed-files:
      - any-glob-to-any-file: ['feature/**']

type:bug:
  - changed-files:
      - any-glob-to-any-file: ['fix/**']

type:docs:
  - changed-files:
      - any-glob-to-any-file: ['docs/**']

type:ci:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/**']

type:infra:
  - changed-files:
      - any-glob-to-any-file: ['infrastructure/**']

default:unclassified:
  - changed-files:
      - any-glob-to-any-file: ['*']
