Repository hTuneSys/hexaFn, pull requests merged in 2025-05, with the labels that each got.

#47 test(core): verify branch naming rule
  test.rs
Labels: default:unclassified

#57 test(core): verify branch naming rule
  test.rs
Labels: default:unclassified

#60 test(core): verify branch naming rule
  test.rs
Labels: default:unclassified

#68 test(github): test for issue
  .github/auto_assign.yml
Labels: type:ci

#75 ci(config): change stale timeout to stale.yml
  .github/workflows/stale.yml
Labels: type:ci

#657 docs: add project logo and favicon to documentation
  README.md
  crates/hexafn-run/src/application/mod.rs
  docs/BRANCH_STRATEGY.md
  docs/CONTACT.md
  docs/SUMMARY.md
  hexaFn.code-workspace
Labels: module:run, module:docs, type:doc, priority:medium, default:unclassified

#658 docs: add hexaFn logo assets and update branding guidelines
  docs/BRANDING.md
  docs/assets/favicon.ico
  docs/assets/hexaFn-icon.png
  docs/assets/hexaFn-logo.png
Labels: module:docs, type:doc

#659 docs: enhance README with comprehensive structure and visual appeal
  .gitignore
  README.md
  REUSE.toml
  crates/hexafn-run/src/application/mod.rs
Labels: module:run, module:docs, type:infra, type:doc, priority:high, default:unclassified, type:ci
